:root{
    font-family: sans-serif;

    --base-color: rgb(0, 0, 0);
    --base-padding: 10px;
    --base-blur: blur(5px);
}

.heading{
    color: var(--base-color);
}

#image{
    width: 100%;
    margin-left: auto;
    height: auto;
    filter: var(--base-blur);
    padding: var(--base-padding);
    background-color: aqua;
}