.main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-face{
    height: 250px;
    width: 250px;
    border: 20px solid red;
    border-radius: 50%;
}

.hour-hand{
    width: 80px;
    height: 5px;
    background-color: black;
    transform: translate(42px, 123px) rotate(37deg);
    transform-origin: 80px;    
}
.minute-hand{
    width: 110px;
    height: 4px;
    background-color: rgb(17, 174, 35);
    transform: translate(9px, 113px) rotate(90deg);
    transform-origin: 110px;    
}

.second-hand{
    width: 95px;
    height: 2px;
    background-color: rgb(201, 1, 1);
    transform: translate(27px, 111px) rotate(90deg);
    transform-origin: 95px;    

}